@page "/"
@using Minikanban.Components.Shared

<PageTitle>Home</PageTitle>

<div class="home-container">
    <div class="role-selector-container">
        <label>Choose role:</label>
        <RoleSelector />
    </div>

@page "/"

<div class="home-container">
    <div class="role-selector-container">
        <label>Välj roll:</label>
        <RoleSelector />
    </div>

    <AdminPanel />

    <KanbanBoard />
</div>
