@inherits StateAwareComponent

<div class="board">
    @foreach(var column in State.Columns)
    {
        <KanbanColumn Column="column" />
    }
</div>

@code {
    protected override Task StateChanged()
    {
        // Här kan man logga debug info, odyl.
        return Task.CompletedTask;
    }
}
